.project {
  &-slides {
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
  }
  &-slide {
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s 1.3s;
    transition: visibility 0s 1.3s;
  }
  &-slide.current {
    visibility: visible;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }
  &-info {
    position: absolute;
    left: 0px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    z-index: 100;
    .container {
      position: relative;
      max-width: 1550px;
      width: 100%;
      margin: 0 auto;
      padding: 0 90px;
      text-align: left;
      h2 {
        margin-bottom: 10px;
        max-width: 50%;
        color: #fff;
        font-size: 84px;
        line-height: 80px;
        font-weight: 700;
        span {
          display: inline-block;
        }
      }
      a {
        color: #fff;
        letter-spacing: 1px;
        font-size: 16px;
        font-weight: 500;
        text-decoration: none;
        line-height: 30px;
      }
    }
  }
}
.bg-outer-wrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.95s cubic-bezier(0.4, 0, 0.2, 1) 0.45s;
  transition: -webkit-transform 0.95s cubic-bezier(0.4, 0, 0.2, 1) 0.45s;
  transition: transform 0.95s cubic-bezier(0.4, 0, 0.2, 1) 0.45s;
  transition: transform 0.95s cubic-bezier(0.4, 0, 0.2, 1) 0.45s,
    -webkit-transform 0.9s cubic-bezier(0.4, 0, 0.2, 1) 0.45s;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  * {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    .slide-bg {
      background-size: cover;
      background-position: center;
      -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.4, 0, 0.2, 1)
        1.25s;
      transition: -webkit-transform 0.6s cubic-bezier(0.4, 0, 0.2, 1) 1.25s;
      transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1) 1.25s;
      transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1) 1.25s,
        -webkit-transform 0.6s cubic-bezier(0.4, 0, 0.2, 1) 1.25s;
      -webkit-transform: scale(1) translateZ(0);
      -ms-transform: scale(1) translateZ(0);
      transform: scale(1) translateZ(0);
      backface-visibility: hidden;
    }
  }
  &::after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}
.controls-wrap {
  max-width: 1550px;
  position: absolute;
  z-index: 100;
  width: 100%;
  top: 0;
  height: 100vh;
  left: 50%;
  transform: translateX(-50%);
  .slider-nav {
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    .dot {
      display: block;
      height: 2px;
      width: 30px;
      cursor: pointer;
      padding: 8px 0;
      opacity: 0.5;
      box-sizing: content-box;
      -webkit-transform-origin: right;
      transform-origin: right;
      -webkit-transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1),
        transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
      transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1),
        transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
      -webkit-transform: scaleX(0.5);
      transform: scaleX(0.5);
      span {
        height: 100%;
        width: 100%;
        display: block;
        background-color: #fff;
      }
    }
    .dot.current {
      opacity: 1;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }
  .slider-controls {
    position: absolute;
    left: 0px;
    bottom: 40px;
    z-index: 100;
    display: flex;
    gap: 0 16px;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      border: 1px solid #fff;
    }
  }
}
